.box {
    margin-left: auto;
    margin-right:   auto;
    height: 80vh;
    width: 150vh;
    border: 5px solid black;
    border-radius: 20px;
}

@media only screen and (max-width: 400px) {
    .box {
        
        height: 90px;
        width: 90px;   
    }
    
    
}
body{
    background-image: url(Rex.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

img{
    float: right;
    margin-top: -250px;
    margin-right: 20px;
    margin-bottom: 2px;
    border: solid black 2px;
    border-radius: 30px;
    padding: 5px;
}

.logo{
   padding-top: 20vh;
   padding-left: 30px;


}   